.user-img {
    height: 128px;
}

.user-details {
    padding: 8px;
    color: var(--text-black);

    .value {
        font-size: 1.3rem;
        font-weight: 500;

        &.empty-value {
            opacity: 0.5;
        }
    }
}