.feature-tile {
	height: 9rem;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
	cursor: pointer;
	border: 2px solid #ccc;
	row-gap: 0.8rem;

	.feature-name {
		font-size: 1.5rem;
		color: #440404;
		display: flex;
	}

	.feature-count {
		font-size: 2.4rem;
	}
}

ion-icon[name="add-circle-outline"] {
	font-size: 2rem;
}

.search-section {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#searchBar1 {
	--border-radius: 6px;
	padding: 8px;
}
  
ion-thumbnail {
	--size: 2.4rem;
	margin-right: 0.5rem;
}

.order-list {
	padding: 8px;

	ion-item {
		border: 1px solid #dadada;
		border-radius: 6px;
		margin: 5px 0;
		font-weight: 500;
		
		ion-label {
			color: var(--text-black);
		}

		.customer-name {
			font-size: 1.4rem;
		}
		.status-section {
			display: flex;
			flex-direction: column;
			row-gap: 0.5rem;
			font-size: 1rem;
		}
	}

	:first-child {
		margin-top: 0;
	}
}

.main-content {
	display: grid;
	grid-template-columns: calc(100% - 23rem) 22rem;
	column-gap: 1rem;
	padding: 1rem;

	.left-section, .right-section {
		border-radius: 6px;
		border: 1px solid var(--border-color);
	}

	.overview-section {
		padding: 5px;
		color: var(--text-black);

		.header {
			padding: 1rem 0.5rem;
		}

		.overview-content {
			padding: 1rem 0.5rem;

			.overview-item {
				font-size: 1.2rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 8px 0;
			}
		}
	}
}