.feature-tile {
  height: 150px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border: 2px solid #ccc;
  row-gap: 0.8rem;

  .feature-name {
    font-size: 1.5rem;
    color: #440404;
  }
}
