<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="main"></ion-menu-button>
        </ion-buttons>
        <ion-title>MTailors</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ng-container *ngFor="let feature of features">
                <ion-col size="6" sizeSm="3" *ngIf="feature.hasAccess">
                    <section class="feature-tile" (click)="onClickTile(feature.routeUrl)">
                        <ion-thumbnail>
                            <ion-img [src]="feature.iconUrl"></ion-img>
                        </ion-thumbnail>
                        <ion-text class="feature-name">{{feature.name | titlecase}}</ion-text>
                    </section>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="dashboard">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
