<ion-header>
    <ion-toolbar>
        <ion-title>{{operationType === 'add' ? 'Add' : 'Update'}} Employee</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="danger" (click)="onCancel()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="employeeForm" class="emp-form-section">
        <ion-list lines="full" class="mb-3">
            <ion-item lines="full">
                <ion-label position="floating">Full Name</ion-label>
                <ion-input clearInput name="fullName" formControlName="fullName" 
                    placeholder="Enter full name">
                </ion-input>
            </ion-item>
            <ng-container *ngIf="formCtrls.fullName.errors &&
                (formCtrls.fullName.touched || formCtrls.fullName.dirty)">
                <ng-template [ngTemplateOutlet]="fieldRequriedText"
                    *ngIf="formCtrls.fullName.errors.required"></ng-template>
                <div class="error-msg" *ngIf="formCtrls.fullName.errors.minlength">
                    Name should be minimum 5 characters
                </div>
                <div class="error-msg" *ngIf="formCtrls.fullName.errors.maxlength">
                    Name should not be more than 200 characters
                </div>
            </ng-container>
            <div class="error-msg" *ngIf="duplicateName">
                Name already exists. Please try different name.
            </div>
            <ion-item lines="full">
                <ion-label position="floating">Display Name</ion-label>
                <ion-input clearInput name="displayName" formControlName="displayName" 
                    placeholder="Enter display name">
                </ion-input>
            </ion-item>
            <ng-container *ngIf="formCtrls.displayName.errors &&
                (formCtrls.displayName.touched || formCtrls.displayName.dirty)">
                <div class="error-msg" *ngIf="formCtrls.displayName.errors.minlength">
                    Name should be minimum 3 characters
                </div>
                <div class="error-msg" *ngIf="formCtrls.displayName.errors.maxlength">
                    Name should not be more than 120 characters
                </div>
            </ng-container>
            <ion-item lines="full">
                <ion-label position="floating">Gender</ion-label>
                <ion-select name="gender" formControlName="gender">
                    <ion-select-option value="male">Male</ion-select-option>
                    <ion-select-option value="female">Female</ion-select-option>
                    <ion-select-option value="other">Other</ion-select-option>
                </ion-select>
            </ion-item>
            <ng-container *ngIf="formCtrls.gender.errors &&
                (formCtrls.gender.touched || formCtrls.gender.dirty)">
                <ng-template [ngTemplateOutlet]="fieldRequriedText"
                    *ngIf="formCtrls.gender.errors.required"></ng-template>
            </ng-container>
            <ion-item lines="full">
                <ion-label position="floating">Mobile Number</ion-label>
                <ion-input clearInput type="number" name="mobileNumber" formControlName="mobileNumber" 
                    inputmode="numeric" placeholder="Enter mobile number">
                </ion-input>
            </ion-item>
            <ng-container *ngIf="formCtrls.mobileNumber.errors &&
                (formCtrls.mobileNumber.touched || formCtrls.mobileNumber.dirty)">
                <ng-template [ngTemplateOutlet]="fieldRequriedText"
                    *ngIf="formCtrls.mobileNumber.errors.required"></ng-template>
                <div class="error-msg" *ngIf="formCtrls.mobileNumber.errors.pattern">
                    Invalid mobile number
                </div>
                <div class="error-msg" *ngIf="formCtrls.mobileNumber.errors.minlength || formCtrls.mobileNumber.errors.maxlength">
                    Mobile number should be 10 characters
                </div>
            </ng-container>
            <div class="error-msg" *ngIf="duplicateNumber">
                Mobile number already exists. Please try different number.
            </div>
        </ion-list>
        <div class="profile-btn-section">
            <ion-button (click)="onCancel()" color="danger" shape="round" fill="clear" >
                Cancel
            </ion-button>
            <ion-button (click)="saveEmployeeData()" shape="round" fill="solid" >
                Save
            </ion-button>
        </div>
    </form>
</ion-content>

<ng-template #fieldRequriedText>
    <div class="error-msg">This field is required</div>
</ng-template>
