<ion-header>
    <ion-toolbar>
        <ion-title>Add Employee</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="danger" (click)="onCancel()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="step1">
        <section class="form-header">
            <span>Step 1</span>
        </section>
        <form [formGroup]="employeeForm" class="emp-form-section">
            <ion-list lines="full" class="mb-3">
                <ion-item lines="full">
                    <ion-label position="floating">Username</ion-label>
                    <ion-input clearInput name="userName" formControlName="userName" 
                        placeholder="Enter username">
                    </ion-input>
                </ion-item>
                <ng-container *ngIf="formCtrls.userName.errors &&
                    (formCtrls.userName.touched || formCtrls.userName.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="formCtrls.userName.errors.required"></ng-template>
                    <div class="error-msg" *ngIf="formCtrls.userName.errors.minlength">
                        Username should be minimum 3 characters
                    </div>
                    <div class="error-msg" *ngIf="formCtrls.userName.errors.maxlength">
                        Username should not be more than 120 characters
                    </div>
                    <div class="error-msg" *ngIf="formCtrls.userName.errors.pattern">
                        Special characters are not allowed except _
                    </div>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input clearInput name="email" formControlName="email" 
                        placeholder="Enter email">
                    </ion-input>
                </ion-item>
                <ng-container *ngIf="formCtrls.email.errors &&
                    (formCtrls.email.touched || formCtrls.email.dirty)">
                    <div class="error-msg" *ngIf="formCtrls.email.errors.minlength">
                        Email should be minimum 10 characters
                    </div>
                    <div class="error-msg" *ngIf="formCtrls.email.errors.maxlength">
                        Email should not be more than 120 characters
                    </div>
                    <div class="error-msg" *ngIf="formCtrls.email.errors.invalid">
                        Invalid email
                    </div>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input clearInput type="password" name="password" formControlName="password" 
                        placeholder="Enter password">
                    </ion-input>
                </ion-item>
                <ng-container *ngIf="formCtrls.password.errors &&
                    (formCtrls.password.touched || formCtrls.password.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="formCtrls.password.errors.required"></ng-template>
                    <div class="error-msg" *ngIf="formCtrls.password.errors.minlength">
                        Password should be minimum 6 characters
                    </div>
                    <div class="error-msg" *ngIf="formCtrls.password.errors.maxlength">
                        Password should not be more than 60 characters
                    </div>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Confirm Password</ion-label>
                    <ion-input clearInput type="password" name="password2" formControlName="password2" 
                        placeholder="Enter password">
                    </ion-input>
                </ion-item>
                <ng-container *ngIf="formCtrls.password2.errors &&
                    (formCtrls.password2.touched || formCtrls.password2.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="formCtrls.password2.errors.required"></ng-template>
                    <div class="error-msg" *ngIf="formCtrls.password2.errors.minlength">
                        Password should be minimum 6 characters
                    </div>
                    <div class="error-msg" *ngIf="formCtrls.password2.errors.maxlength">
                        Password should not be more than 60 characters
                    </div>
                </ng-container>
                <ng-container *ngIf="invalidPassword">
                    <div class="error-msg">
                        Password's are not matching
                    </div>
                </ng-container>
            </ion-list>
            <div class="profile-btn-section">
                <ion-button (click)="onCancel()" color="danger" shape="round" fill="clear" >
                    Cancel
                </ion-button>
                <ion-button (click)="onClickNext()" shape="round">
                    Next
                </ion-button>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="step2">
        <section class="form-header">
            <span>Step 2</span>
        </section>
        <form [formGroup]="employeeProfileForm" class="emp-form-section">
            <ion-list lines="full" class="mb-3">
                <ion-item lines="full">
                    <ion-label position="floating">Full Name</ion-label>
                    <ion-input clearInput name="fullName" formControlName="fullName" 
                        placeholder="Enter full name">
                    </ion-input>
                </ion-item>
                <ng-container *ngIf="profileFormCtrls.fullName.errors &&
                    (profileFormCtrls.fullName.touched || profileFormCtrls.fullName.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="profileFormCtrls.fullName.errors.required"></ng-template>
                    <div class="error-msg" *ngIf="profileFormCtrls.fullName.errors.minlength">
                        Name should be minimum 5 characters
                    </div>
                    <div class="error-msg" *ngIf="profileFormCtrls.fullName.errors.maxlength">
                        Name should not be more than 200 characters
                    </div>
                    <div class="error-msg" *ngIf="profileFormCtrls.fullName.errors.duplicate">
                        Employee with same name already exists
                    </div>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Display Name</ion-label>
                    <ion-input clearInput name="displayName" formControlName="displayName" 
                        placeholder="Enter display name">
                    </ion-input>
                </ion-item>
                <ng-container *ngIf="profileFormCtrls.displayName.errors &&
                    (profileFormCtrls.displayName.touched || profileFormCtrls.displayName.dirty)">
                    <div class="error-msg" *ngIf="profileFormCtrls.displayName.errors.minlength">
                        Name should be minimum 3 characters
                    </div>
                    <div class="error-msg" *ngIf="profileFormCtrls.displayName.errors.maxlength">
                        Name should not be more than 120 characters
                    </div>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Gender</ion-label>
                    <ion-select name="gender" formControlName="gender">
                        <ion-select-option value="male">Male</ion-select-option>
                        <ion-select-option value="female">Female</ion-select-option>
                        <ion-select-option value="other">Other</ion-select-option>
                    </ion-select>
                </ion-item>
                <ng-container *ngIf="profileFormCtrls.gender.errors &&
                    (profileFormCtrls.gender.touched || profileFormCtrls.gender.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="profileFormCtrls.gender.errors.required"></ng-template>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Marital Status</ion-label>
                    <ion-select name="maritalStatus" formControlName="maritalStatus">
                        <ion-select-option value="single">Single</ion-select-option>
                        <ion-select-option value="married">Married</ion-select-option>
                        <ion-select-option value="devorsed">Devorsed</ion-select-option>
                    </ion-select>
                </ion-item>
                <ng-container *ngIf="profileFormCtrls.maritalStatus.errors &&
                    (profileFormCtrls.maritalStatus.touched || profileFormCtrls.maritalStatus.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="profileFormCtrls.maritalStatus.errors.required"></ng-template>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Date of Birth</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" name="dateOfBirth" formControlName="dateOfBirth"
                        placeholder="Select Date" min="1930">
                    </ion-datetime>
                </ion-item>
                <ng-container *ngIf="profileFormCtrls.dateOfBirth.errors &&
                    (profileFormCtrls.dateOfBirth.touched || profileFormCtrls.dateOfBirth.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="profileFormCtrls.dateOfBirth.errors.required"></ng-template>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Mobile Number</ion-label>
                    <ion-input clearInput type="number" name="mobileNumber" formControlName="mobileNumber" 
                        inputmode="numeric" placeholder="Enter mobile number">
                    </ion-input>
                </ion-item>
                <ng-container *ngIf="profileFormCtrls.mobileNumber.errors &&
                    (profileFormCtrls.mobileNumber.touched || profileFormCtrls.mobileNumber.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="profileFormCtrls.mobileNumber.errors.required"></ng-template>
                    <div class="error-msg" *ngIf="profileFormCtrls.mobileNumber.errors.pattern">
                        Invalid mobile number
                    </div>
                </ng-container>
                <ion-item lines="full">
                    <ion-label position="floating">Joined Date</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" name="joinedDate" formControlName="joinedDate"
                        placeholder="Select Date" min="2020">
                    </ion-datetime>
                </ion-item>
                <ng-container *ngIf="profileFormCtrls.joinedDate.errors &&
                    (profileFormCtrls.joinedDate.touched || profileFormCtrls.joinedDate.dirty)">
                    <ng-template [ngTemplateOutlet]="fieldRequriedText"
                        *ngIf="profileFormCtrls.joinedDate.errors.required"></ng-template>
                </ng-container>
            </ion-list>
            <div class="profile-btn-section">
                <ion-button (click)="onCancel()" color="danger" shape="round" fill="clear" >
                    Cancel
                </ion-button>
                <ion-button (click)="saveProfileData()" shape="round" fill="solid" >
                    Save
                </ion-button>
            </div>
        </form>
    </ng-container>
</ion-content>

<ng-template #fieldRequriedText>
    <div class="error-msg">This field is required</div>
</ng-template>
