<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers"></ion-back-button>
        </ion-buttons>
        <ion-title>Customer Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!isDesktop">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="onEditEmployee()">
                <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>
    <ion-grid *ngIf="customerData">
        <ion-row>
            <ion-col class="emp-image-section">
                <ion-img src="./assets/images/man.png"
                    *ngIf="customerProfile && customerProfile.gender ==='male'"></ion-img>
                <ion-img src="./assets/images/woman.png"
                    *ngIf="!customerProfile || customerProfile.gender ==='female'">
                </ion-img>
                <h1 *ngIf="customerProfile">{{customerProfile.display_name ? customerProfile.display_name : customerProfile.full_name}}</h1>
                <h5>{{customerProfile?.phone}}</h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="emp-tab-btns">
                <ion-label [ngClass]="tabIndex === 1 ? 'selected': ''" (click)="onClickTab('earnings', 1)">Earnings</ion-label>
                <ion-label [ngClass]="tabIndex === 2 ? 'selected': ''" (click)="onClickTab('compensation', 2)">Compensation</ion-label>
                <ion-label [ngClass]="tabIndex === 3 ? 'selected': ''" (click)="onClickTab('other', 3)">Other Details</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="emp-tab-content">
                <ng-container *ngIf="tabIndex === 1">
                    Earnings
                </ng-container>
                <ng-container *ngIf="tabIndex === 2">
                    compensation
                </ng-container>
                <ng-container *ngIf="tabIndex === 3">
                    other
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
