<ion-header>
    <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
		<ion-title>Customers</ion-title>
		<ion-buttons slot="end" *ngIf="!isDesktop">
			<ion-button (click)="addCustomer()" slot="icon-only" color="primary">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <ng-container *ngIf="!isDesktop">
		<ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="addCustomer()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
		<div class="search-section">
			<ion-searchbar id="searchBar1" mode="ios"></ion-searchbar>
			<div class="filter-section">
				<ion-button (click)="onFilterCustomers()" fill="clear"
					slot="icon-only">
					<ion-icon name="filter"></ion-icon>
				</ion-button>
			</div>
		</div>
		<ion-list class="order-list">
			<ion-item-sliding *ngFor="let customer of customers" #slidingItem>
				<ion-item-options side="start">
					<ion-item-option color="primary" (click)="onEditCustomer(customer, slidingItem)">
						<ion-icon slot="top" name="create"></ion-icon>
						Edit
					</ion-item-option>
				</ion-item-options>
				<ion-item (click)="goToCustomerDetails(customer.id, slidingItem)"
					lines="none" detail button>
					<ion-avatar slot="start">
						<img src="./assets/images/man.png"
							*ngIf="customer.profile && customer.profile.gender === 'male'">
						<img src="./assets/images/woman.png"
							*ngIf="!customer.profile || customer.profile.gender === 'female'">
					</ion-avatar>
					<ion-label>
						<ng-container *ngIf="!customer.profile">
							<h3>{{customer.username}}</h3>
							<span>{{customer.email}}</span>
						</ng-container>
						<ng-container *ngIf="customer?.profile">
							<h3>{{customer.profile.display_name ? customer.profile.display_name : customer.profile.full_name}}</h3>
							<span>{{customer.profile.phone}}</span>
						</ng-container>
					</ion-label>
				</ion-item>
			</ion-item-sliding>
		</ion-list>
    </ng-container>
    <ng-container *ngIf="isDesktop">
		<div class="main-content">
			<div class="left-section">
				<ion-grid>
					<ion-row class="border-bottom ion-align-items-center">
						<ion-col size="3">
							<h4 class="ion-no-margin">Customers</h4>
						</ion-col>
						<ion-col size="6" class="ion-text-center ion-no-padding">
							<ion-searchbar id="searchBar1" mode="ios"></ion-searchbar>
						</ion-col>
						<ion-col size="3" class="ion-text-end">
							<ion-button (click)="addCustomer()" fill="solid">
								<ion-icon name="add-circle-outline"></ion-icon> 
								Add Customer
							</ion-button>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="12">
							<p-table [columns]="customerTableCols" [value]="customers" [paginator]="true" [rows]="10">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th *ngFor="let col of columns">
											{{col.header}}
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-data let-columns="columns">
									<tr>
										<td>
											<ion-avatar slot="start">
												<img src="./assets/images/man.png"
													*ngIf="data.profile && data.profile.gender === 'male'">
												<img src="./assets/images/woman.png"
													*ngIf="!data.profile || data.profile.gender === 'female'">
											</ion-avatar>
										</td>
										<td>
											<ng-container *ngIf="data.profile; else userName">
												<ng-container *ngIf="data.profile.display_name; else fullName">
													{{data.profile.display_name | titlecase}}
												</ng-container>
												<ng-template #fullName>{{data.profile.full_name | titlecase}}</ng-template>
											</ng-container>
											<ng-template #userName>{{data.username | titlecase}}</ng-template>
										</td>
										<td>
											<ng-container *ngIf="data.profile">
												{{data.profile.phone}}
											</ng-container>
										</td>
										<td>
											<ng-container *ngIf="data.profile">
												{{data.profile.address}}
											</ng-container>
										</td>
										<td>{{data.is_active ? 'Active' : 'Inactive'}}</td>
										<td>
											<ion-button (click)="onEditCustomer(data)"
												slot="icon-only" fill="clear" color="medium">
												<ion-icon name="create"></ion-icon>
											</ion-button>
										</td>
									</tr>
								</ng-template>
							</p-table>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
			<div class="right-section overview-section">
				<div class="header border-bottom">
					<h4>Overview</h4>
				</div>
				<div class="overview-content">
					<div class="overview-item" *ngFor="let item of overViewData">
						<span>{{item.orderStatus}}</span>
						<span>{{item.orderCount}}</span>
					</div>
				</div>
			</div>
		</div>
    </ng-container>
</ion-content>
  