<ion-header>
    <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
		<ion-title>Customers</ion-title>
		<ion-buttons slot="end" *ngIf="!isDesktop">
			<ion-button (click)="addCustomer()" slot="icon-only" color="primary">
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <ng-container *ngIf="!isDesktop">
		<ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="addCustomer()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
		<div class="search-section">
			<ion-searchbar id="searchBar1" mode="ios"></ion-searchbar>
			<div class="filter-section">
				<ion-button (click)="onFilterCustomers()" fill="clear"
					slot="icon-only">
					<ion-icon name="filter"></ion-icon>
				</ion-button>
			</div>
		</div>
		<ion-list class="order-list">
			<ion-item-sliding *ngFor="let customer of customers" #slidingItem>
				<ion-item-options side="start">
					<ion-item-option color="primary" (click)="onEditCustomer(customer, slidingItem)">
						<ion-icon slot="top" name="create"></ion-icon>
						Edit
					</ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="danger" (click)="onDeleteCustomer(customer._id, slidingItem)">
						<ion-icon slot="top" name="trash"></ion-icon>
						Delete
					</ion-item-option>
				</ion-item-options>
				<ion-item (click)="goToCustomerDetails(customer._id, slidingItem)"
					lines="none" detail button>
					<ion-avatar slot="start">
						<img src="./assets/images/man.png"
							*ngIf="customer.gender && customer.gender === 'male'">
						<img src="./assets/images/woman.png"
							*ngIf="!customer.gender || customer.gender === 'female'">
					</ion-avatar>
					<ion-label>
						<h3 class="customer-name" *ngIf="customer.display_name; else fullName">
							{{customer.display_name | titlecase}}
						</h3>
						<ng-template #fullName>
							<h3 class="customer-name">{{customer.full_name | titlecase}}</h3>
						</ng-template>
						<span class="f-14">{{customer.phone}}</span>
					</ion-label>
				</ion-item>
			</ion-item-sliding>
		</ion-list>
    </ng-container>
    <ng-container *ngIf="isDesktop">
		<div class="main-content">
			<div class="left-section">
				<ion-grid>
					<ion-row class="border-bottom ion-align-items-center">
						<ion-col size="3">
							<h4 class="ion-no-margin">Customers</h4>
						</ion-col>
						<ion-col size="6" class="ion-text-center ion-no-padding">
							<ion-searchbar id="searchBar1" mode="ios"></ion-searchbar>
						</ion-col>
						<ion-col size="3" class="ion-text-end">
							<ion-button (click)="addCustomer()" fill="solid">
								<ion-icon name="add-circle-outline"></ion-icon> 
								Add Customer
							</ion-button>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="12">
							<p-table [columns]="customerTableCols" [value]="customers" [paginator]="true" [rows]="10">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th *ngFor="let col of columns">
											{{col.header}}
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-data let-columns="columns">
									<tr>
										<td>
											<ion-avatar slot="start">
												<img src="./assets/images/man.png"
													*ngIf="data.gender && data.gender === 'male'">
												<img src="./assets/images/woman.png"
													*ngIf="!data.gender || data.gender === 'female'">
											</ion-avatar>
										</td>
										<td>
											<a class="f-600" (click)="goToCustomerDetails(data._id)">{{data.full_name | titlecase}}</a>
										</td>
										<td>
											<span>{{data.display_name | titlecase}}</span>
										</td>
										<td>
											<span>{{data.phone ? data.phone : '-'}}</span>
										</td>
										<td>
											<span>{{data.joined_date | date}}</span>
										</td>
										<td>
											<span>{{data.updated_date | date}}</span>
										</td>
										<td>
											<ion-button (click)="onEditCustomer(data)"
												slot="icon-only" fill="clear" color="medium">
												<ion-icon name="create"></ion-icon>
											</ion-button>
											<ion-button (click)="onDeleteCustomer(data._id)"
												slot="icon-only" fill="clear" color="medium">
												<ion-icon name="trash"></ion-icon>
											</ion-button>
										</td>
									</tr>
								</ng-template>
							</p-table>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
			<div class="right-section overview-section">
				<div class="header border-bottom">
					<h4>Overview</h4>
				</div>
				<div class="overview-content">
					<div class="overview-item" *ngFor="let item of overViewData">
						<span>{{item.orderStatus}}</span>
						<span>{{item.orderCount}}</span>
					</div>
				</div>
			</div>
		</div>
    </ng-container>
</ion-content>
  