:root {
    font-size: 13px;
    height: 100%;
    --text-black: #444444;
    color: var(--text-black);
}

ion-grid, .page-content {
    width: auto;
    max-width: 90rem;
    margin: 0 auto;
}

.error-msg {
    font-size: 1rem;
    color: var(--ion-color-danger);
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid var(--ion-color-danger);
    box-shadow: rgb(210 114 114 / 22%) 0px 1px 12px;
}

.amount::before {
    content: "₹ ";
}

.alert-button-role-destructive {
    color: var(--ion-color-danger) !important;
}

img.icon-32 {
    height: 32px;
    width: 32px;
}